%N S server0.netburst.org 2 0 1056689277 P10 YA]]] +l :Internet Relay Chat Protocol Burster
%N S server1.netburst.org 2 0 1056689277 P10 YB]]] +l :Internet Relay Chat Protocol Burster
%N S server2.netburst.org 2 0 1056689277 P10 YC]]] +l :Internet Relay Chat Protocol Burster
%N S server3.netburst.org 2 0 1056689277 P10 YD]]] +l :Internet Relay Chat Protocol Burster
%N S server4.netburst.org 2 0 1056689277 P10 YE]]] +l :Internet Relay Chat Protocol Burster
%N S server5.netburst.org 2 0 1056689277 P10 YF]]] +l :Internet Relay Chat Protocol Burster
%N S server6.netburst.org 2 0 1056689277 P10 YG]]] +l :Internet Relay Chat Protocol Burster
%N S server7.netburst.org 2 0 1056689277 P10 YH]]] +l :Internet Relay Chat Protocol Burster
%N S server8.netburst.org 2 0 1056689277 P10 YI]]] +l :Internet Relay Chat Protocol Burster
%N S server9.netburst.org 2 0 1056689277 P10 YJ]]] +l :Internet Relay Chat Protocol Burster

